#doorHitboxGround{
    position: absolute;
    left: 24vw;
    bottom: 27.5vh;
    width: 7vw;
    height: 15.5vh;
    background-color: green;
    opacity: .5;
}

#doorHitboxBottom{
    position: absolute;
    left: 24vw;
    bottom: 4vh;
    width: 7vw;
    height: 15.5vh;
    background-color: green;
    opacity: .5;
}

#doorHitboxTop{
    position: absolute;
    left: 24vw;
    top: 11.5vh;
    width: 7vw;
    height: 15.5vh;
    background-color: green;
    opacity: .5;
}
#inventory{
  width: 70vw;
  height: 10vh;
  color:white;
  display: flex;
  margin: auto;
}
#jojoSFX{
  position: absolute;
  right: 10.5vw;
  bottom: 8vh;
  z-index: 2;
  opacity: 0;
}
#cat{
  position: absolute;
  right: 13vw;
  bottom: 8.5vh;
  width: 5rem;
}
