#doorHitboxGround{
    position: absolute;
    left: 24vw;
    bottom: 27.5vh;
    width: 7vw;
    height: 15.5vh;
    opacity: .5;
}

#doorHitboxBottom{
    position: absolute;
    left: 24vw;
    bottom: 4vh;
    width: 7vw;
    height: 15.5vh;
    opacity: .5;
}

#doorHitboxTop{
    position: absolute;
    left: 24vw;
    top: 11.5vh;
    width: 7vw;
    height: 15.5vh;
    opacity: .5;
}
#inventory{
  width: 70vw;
  height: 10vh;
  color:white;
  display: flex;
  margin: auto;
}
#jojoSFX{
  position: absolute;
  right: 10.5vw;
  bottom: 8vh;
  z-index: 2;
  opacity: 0;
}
#skidoKeysHitbox{
  width: 2vw;
  height: 4.5vh;
  position: absolute;
  opacity: .6;
  z-index: 2;
  left: 15vw;
  top:48vh;
}
#skidoKeys{
  width: 2vw;
  opacity: .5;
  position: absolute;
  left: 15vw;
  top:48vh;
}
#cat{
  position: absolute;
  right: 13vw;
  bottom: 8.5vh;
  width: 5rem;
}

inventoryItem{
    margin-left: 2rem;
    margin-right:2rem;
}

.hidden{
    visibility: hidden;
    display:none;
}