/*body{*/

/*    background-image: url("../../../assets/images/finishScreen.png");*/
/*    background-size: cover;*/
/*    background-repeat: no-repeat;*/
/*    background-position: center center;*/
/*}*/

#finishImageContainer{
    height:90%;
    width:100%;
}

#image{
    width:100%;
    height:100%;
}
