/* main background */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

#mainContainer {
    height: 100%;
    width: 100%;
    margin: auto;
}

#imageContainer {
    position: relative;
    background-image: url("../../../assets/gameStates/no cat no keys/garage-noCat-noKeys.png");
    height: 80vh;
    width: 70vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}

#garageTrigger {
    position: absolute;
    right: 3vw;
    top: 44vh;
    width: 4vw;
    height: 4vw;
    display: flex;
}

#garageArrow {
    height: 50px;
    width: 50px;
    transform: scaleX(-1);
}

#sliderPuzzleTrigger {
    position: absolute;
    right: 14vw;
    bottom: 33vh;
    height: 3vh;
    width: 3vh;
    opacity: .5;
    z-index: 10
}

#skidoPaperTrigger {
    position: absolute;
    right: 16vw;
    bottom: 28vh;
    height: 4vh;
    width: 2.5vh;
    opacity: .5;
    z-index: 10
}

.child {
    align-self: flex-end;
    width: 100px;
    height: 100px;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}

.bounce:hover {
    animation-name: bounce;
    animation-timing-function: ease;
}

#garageText {
    color: black;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

.modal {
    display: none;
    /* Hidden by default */
    position: absolute;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.8);
    /* Black w/ opacity */
}


/* The Close Button */

.close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    border-color: rgb(255, 255, 255);
}

.close:hover,
.close:focus {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
}

.tile1,
.tile2,
.tile3,
.tile4,
.tile5,
.tile6,
.tile7,
.tile8,
.tile9 {
    display: table-cell;
    width: 120px;
    height: 120px;
    border: 1px solid white;
    background: url("../../../assets/images/puzzle2.png");
    cursor: pointer;
}

.tile1 {
    background-position: left top;
}

.tile2 {
    background-position: center top;
}

.tile3 {
    background-position: right top;
}

.tile4 {
    background-position: left center;
}

.tile5 {
    background-position: center center;
}

.tile6 {
    background-position: right center;
}

.tile7 {
    background-position: left bottom;
}

.tile8 {
    background-position: center bottom;
}

.tile9 {
    background: white;
    cursor: default;
}

#sliderContent {
    position: absolute;
    left: 45vw;
    outline: none;
}