/* main background */
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
#mainContainer {
    height: 100%;
    width: 100%;
    margin: auto;
}
#imageContainer {
    position: relative;
    background-image: url("../../../assets/gameStates/no keys/start-cat-noKeys.png");
    height:80vh;
    width: 70vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}

#garageTrigger{
    position: absolute;
    left: 10vw;
    top: 38vh;
    width: 4vw;
    height: 4vw;
    display: flex;
}

#garageArrow{
    height: 50px;
    width: 50px;
}

.child {
    align-self: flex-end;
    width: 100px;
    height: 100px;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}

.bounce:hover {
    animation-name: bounce;
    animation-timing-function: ease;
}

#garageText{
    color:black;
}

@keyframes bounce {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}

/* player avatar positions ground floor*/
#playerAvatar {
    max-width: 3%;
    height: auto;
    position:absolute;
    top:38.5%;
    left:45%;
}
