/* main background */
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
#mainContainer {
    height: 100%;
    width: 100%;
    margin: auto;
}
#imageContainer {
    position: relative;
    background-image: url("../../../assets/gameStates/no keys/start-cat-noKeys.png");
    height:80vh;
    width: 70vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}

/*#garageTrigger{*/
/*    position: absolute;*/
/*    left: 0vw;*/
/*    top: 11.5vh;*/
/*    width: 7vw;*/
/*    height: 7vw;*/
/*    background-color: purple;*/
/*    opacity: .5;*/
/*}*/
/* player avatar positions ground floor*/
#playerAvatar {
    max-width: 3%;
    height: auto;
    position:absolute;
    top:38.5%;
    left:45%;
}

/* UI */
#inventory {
    width: 70vw;
    height: 10vh;
    color:white;
    margin: auto;
}
