/* main background */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

#mainContainer {
    height: 100%;
    width: 100%;
    margin: auto;
}

#imageContainer {
    position: relative;
    background-image: url("../../../assets/gameStates/no cat no keys/topFloorRoom-noCat-noKeys.png");
    height: 80vh;
    width: 70vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}

#safeDoorHitbot {
    position: absolute;
    left: 47.5vw;
    top: 9vh;
    width: 1.8vw;
    height: 18vh;
    background-color: blue;
    opacity: .5;
}

#computerHitbox {
    position: absolute;
    right: 9.8vw;
    top: 20vh;
    width: 5vw;
    height: 7vh;
    background-color: red;
    opacity: .5;
}

#houseImage {
    height: 100%;
    width: 100%;
}

#myForm {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.8);
    /* Black w/ opacity */
}
#form-container{
  margin-left: 45vw;
  width: 25rem;
  color: white;
  background:radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,121,99,1) 51%, rgba(0,212,255,1) 100%);
  padding-bottom: 1rem;
  border-radius:5px;
}
button{
  border:none;
  background-color: blue;
  color: white;
  padding: 1rem;
  border-radius: 5px;
}
label{
  margin-left: 1rem;
}
#title{
  margin-left:7rem;
  margin-bottom: 1rem;
}
